# Loan Prediction of Classifier and Regressor with ANN

In [1]:
import pandas as pd
A = pd.read_csv("/Users/user/Desktop/python/datasets/training_set.csv")

In [2]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
A.shape

(614, 13)

# Inspect Missing Data

In [4]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             599 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          613 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    612 non-null    float64
 7   CoapplicantIncome  613 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB

In [6]:
from ANN_modules import catconsep, replacer, preprocessing

# Define X and Y

In [7]:
Y = A[["Loan_Status"]]
X = A.drop(['Loan_ID', "Loan_Status"], axis = 1)

# Convert Y in LabelEnconder Format

In [8]:
from warnings import filterwarnings
filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y1 = pd.DataFrame(le.fit_transform(Y), columns=["Loan_Status"])

In [9]:
Y1

     Loan_Status
0              1
1              0
2              1
3              1
4              1
..           ...
609            1
610            1
611            1
612            1
613            0

[614 rows x 1 columns]

In [10]:
cat, con = catconsep(X)

In [11]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [12]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

# Preprocessing(Missing data treatment, Standardization, OHE)

In [13]:
replacer(X)

In [14]:
X.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [15]:
X1 = preprocessing(X)

In [16]:
X1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,7.265121e-02,-0.554368,-0.000025,0.279851,0.452152,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,-1.387472e-07,-0.038610,-0.219272,0.279851,0.452152,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-3.940959e-01,-0.554368,-0.957640,0.279851,0.452152,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-4.624124e-01,0.252103,-0.314546,0.279851,0.452152,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,9.738930e-02,-0.554368,-0.064453,0.279851,0.452152,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

# Create a Neural Network

In [17]:
from keras.layers import Dense
from keras.models import Sequential

In [18]:
print(X1.shape[1])
print(X1.shape)

20
(614, 20)

In [19]:
nn = Sequential() # input_dim here we have to give the columns 
# nn.add(Dense(32, activation = 'relu', input_dim = 20))
nn.add(Dense(32, activation = 'relu', input_dim = X1.shape[1]))# Input layers
nn.add(Dense(32, activation = 'relu')) # Hidden layers
nn.add(Dense(1, activation = "sigmoid")) # Output layers

In [20]:
nn.compile(loss ="binary_crossentropy", metrics = ['accuracy'])
nn.fit(X1, Y1, validation_split=0.2, epochs = 30)

Epoch 1/30
16/16 [==============================] - 0s 21ms/step - loss: 0.6868 - accuracy: 0.6884 - val_loss: 0.6759 - val_accuracy: 0.6748
Epoch 2/30
16/16 [==============================] - 0s 4ms/step - loss: 0.6272 - accuracy: 0.6884 - val_loss: 0.6394 - val_accuracy: 0.6667
Epoch 3/30
16/16 [==============================] - 0s 3ms/step - loss: 0.5862 - accuracy: 0.6904 - val_loss: 0.6106 - val_accuracy: 0.6748
Epoch 4/30
16/16 [==============================] - 0s 4ms/step - loss: 0.5548 - accuracy: 0.6945 - val_loss: 0.5828 - val_accuracy: 0.6911
Epoch 5/30
16/16 [==============================] - 0s 4ms/step - loss: 0.5325 - accuracy: 0.7189 - val_loss: 0.5600 - val_accuracy: 0.7642
Epoch 6/30
16/16 [==============================] - 0s 3ms/step - loss: 0.5122 - accuracy: 0.7821 - val_loss: 0.5443 - val_accuracy: 0.7967
Epoch 7/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4946 - accuracy: 0.8004 - val_loss: 0.5297 - val_accuracy: 0.8130
Epoch 8/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4808 - accuracy: 0.8086 - val_loss: 0.5176 - val_accuracy: 0.8130
Epoch 9/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4705 - accuracy: 0.8126 - val_loss: 0.5081 - val_accuracy: 0.8211
Epoch 10/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4610 - accuracy: 0.8147 - val_loss: 0.5031 - val_accuracy: 0.8130
Epoch 11/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4545 - accuracy: 0.8126 - val_loss: 0.4946 - val_accuracy: 0.8211
Epoch 12/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4471 - accuracy: 0.8126 - val_loss: 0.4907 - val_accuracy: 0.8130
Epoch 13/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4437 - accuracy: 0.8126 - val_loss: 0.4892 - val_accuracy: 0.8130
Epoch 14/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4391 - accuracy: 0.8126 - val_loss: 0.4902 - val_accuracy: 0.8130
Epoch 15/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4355 - accuracy: 0.8147 - val_loss: 0.4877 - val_accuracy: 0.8211
Epoch 16/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4316 - accuracy: 0.8126 - val_loss: 0.4897 - val_accuracy: 0.8211
Epoch 17/30
16/16 [==============================] - 0s 5ms/step - loss: 0.4307 - accuracy: 0.8187 - val_loss: 0.4869 - val_accuracy: 0.8293
Epoch 18/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4255 - accuracy: 0.8167 - val_loss: 0.4866 - val_accuracy: 0.8211
Epoch 19/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4243 - accuracy: 0.8167 - val_loss: 0.4878 - val_accuracy: 0.8130
Epoch 20/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4228 - accuracy: 0.8167 - val_loss: 0.4894 - val_accuracy: 0.8293
Epoch 21/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4216 - accuracy: 0.8187 - val_loss: 0.4895 - val_accuracy: 0.8293
Epoch 22/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4184 - accuracy: 0.8167 - val_loss: 0.4922 - val_accuracy: 0.8293
Epoch 23/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4157 - accuracy: 0.8208 - val_loss: 0.4948 - val_accuracy: 0.8293
Epoch 24/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4144 - accuracy: 0.8187 - val_loss: 0.4985 - val_accuracy: 0.8293
Epoch 25/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4128 - accuracy: 0.8187 - val_loss: 0.4977 - val_accuracy: 0.8293
Epoch 26/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4109 - accuracy: 0.8228 - val_loss: 0.4973 - val_accuracy: 0.8211
Epoch 27/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4097 - accuracy: 0.8208 - val_loss: 0.5002 - val_accuracy: 0.8211
Epoch 28/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4071 - accuracy: 0.8187 - val_loss: 0.5007 - val_accuracy: 0.8211
Epoch 29/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4074 - accuracy: 0.8228 - val_loss: 0.5015 - val_accuracy: 0.8211
Epoch 30/30
16/16 [==============================] - 0s 4ms/step - loss: 0.4033 - accuracy: 0.8269 - val_loss: 0.5008 - val_accuracy: 0.8211

In [21]:
X1.shape

(614, 20)

# Batch Gradient Descent

In [22]:
nn = Sequential() # input_dim here we have to give the columns 
# nn.add(Dense(32, activation = 'relu', input_dim = 20))
nn.add(Dense(32, activation = 'relu', input_dim = X1.shape[1]))
nn.add(Dense(32, activation = 'relu'))
nn.add(Dense(1, activation = "sigmoid"))
nn.compile(loss ="binary_crossentropy", metrics = ['accuracy'])
nn.fit(X1, Y1, validation_split=0.2, epochs = 100,batch_size = 100 )

Epoch 1/100
5/5 [==============================] - 0s 52ms/step - loss: 0.6397 - accuracy: 0.6802 - val_loss: 0.6753 - val_accuracy: 0.6423
Epoch 2/100
5/5 [==============================] - 0s 7ms/step - loss: 0.5991 - accuracy: 0.6884 - val_loss: 0.6548 - val_accuracy: 0.6585
Epoch 3/100
5/5 [==============================] - 0s 8ms/step - loss: 0.5738 - accuracy: 0.6965 - val_loss: 0.6380 - val_accuracy: 0.6585
Epoch 4/100
5/5 [==============================] - 0s 7ms/step - loss: 0.5543 - accuracy: 0.7128 - val_loss: 0.6248 - val_accuracy: 0.6911
Epoch 5/100
5/5 [==============================] - 0s 7ms/step - loss: 0.5379 - accuracy: 0.7393 - val_loss: 0.6144 - val_accuracy: 0.7154
Epoch 6/100
5/5 [==============================] - 0s 7ms/step - loss: 0.5229 - accuracy: 0.7597 - val_loss: 0.6030 - val_accuracy: 0.7398
Epoch 7/100
5/5 [==============================] - 0s 42ms/step - loss: 0.5098 - accuracy: 0.7862 - val_loss: 0.5920 - val_accuracy: 0.7642
Epoch 8/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4981 - accuracy: 0.7902 - val_loss: 0.5811 - val_accuracy: 0.7886
Epoch 9/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4877 - accuracy: 0.8024 - val_loss: 0.5726 - val_accuracy: 0.7886
Epoch 10/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4790 - accuracy: 0.8045 - val_loss: 0.5650 - val_accuracy: 0.7886
Epoch 11/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4710 - accuracy: 0.8065 - val_loss: 0.5572 - val_accuracy: 0.7805
Epoch 12/100
5/5 [==============================] - 0s 13ms/step - loss: 0.4664 - accuracy: 0.7984 - val_loss: 0.5515 - val_accuracy: 0.7886
Epoch 13/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4606 - accuracy: 0.8065 - val_loss: 0.5455 - val_accuracy: 0.7886
Epoch 14/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4552 - accuracy: 0.8024 - val_loss: 0.5410 - val_accuracy: 0.7886
Epoch 15/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4514 - accuracy: 0.8065 - val_loss: 0.5365 - val_accuracy: 0.7886
Epoch 16/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4484 - accuracy: 0.8004 - val_loss: 0.5337 - val_accuracy: 0.7967
Epoch 17/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4464 - accuracy: 0.8004 - val_loss: 0.5319 - val_accuracy: 0.7967
Epoch 18/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4420 - accuracy: 0.8065 - val_loss: 0.5298 - val_accuracy: 0.7967
Epoch 19/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4394 - accuracy: 0.8045 - val_loss: 0.5278 - val_accuracy: 0.7967
Epoch 20/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4373 - accuracy: 0.8106 - val_loss: 0.5253 - val_accuracy: 0.7967
Epoch 21/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4357 - accuracy: 0.8086 - val_loss: 0.5243 - val_accuracy: 0.7967
Epoch 22/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4345 - accuracy: 0.8086 - val_loss: 0.5231 - val_accuracy: 0.7967
Epoch 23/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4317 - accuracy: 0.8045 - val_loss: 0.5217 - val_accuracy: 0.7967
Epoch 24/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4299 - accuracy: 0.8086 - val_loss: 0.5209 - val_accuracy: 0.7967
Epoch 25/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4288 - accuracy: 0.8086 - val_loss: 0.5202 - val_accuracy: 0.7967
Epoch 26/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4264 - accuracy: 0.8106 - val_loss: 0.5202 - val_accuracy: 0.7967
Epoch 27/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4247 - accuracy: 0.8126 - val_loss: 0.5209 - val_accuracy: 0.7967
Epoch 28/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4234 - accuracy: 0.8106 - val_loss: 0.5206 - val_accuracy: 0.7967
Epoch 29/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4217 - accuracy: 0.8167 - val_loss: 0.5210 - val_accuracy: 0.8049
Epoch 30/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4209 - accuracy: 0.8126 - val_loss: 0.5216 - val_accuracy: 0.8049
Epoch 31/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4211 - accuracy: 0.8187 - val_loss: 0.5211 - val_accuracy: 0.8049
Epoch 32/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4181 - accuracy: 0.8167 - val_loss: 0.5220 - val_accuracy: 0.8049
Epoch 33/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4165 - accuracy: 0.8187 - val_loss: 0.5212 - val_accuracy: 0.8049
Epoch 34/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4175 - accuracy: 0.8187 - val_loss: 0.5218 - val_accuracy: 0.7967
Epoch 35/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4158 - accuracy: 0.8187 - val_loss: 0.5222 - val_accuracy: 0.8049
Epoch 36/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4129 - accuracy: 0.8147 - val_loss: 0.5241 - val_accuracy: 0.7886
Epoch 37/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4125 - accuracy: 0.8208 - val_loss: 0.5250 - val_accuracy: 0.7967
Epoch 38/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4106 - accuracy: 0.8167 - val_loss: 0.5247 - val_accuracy: 0.7886
Epoch 39/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4116 - accuracy: 0.8147 - val_loss: 0.5272 - val_accuracy: 0.7886
Epoch 40/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4091 - accuracy: 0.8147 - val_loss: 0.5270 - val_accuracy: 0.7886
Epoch 41/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4069 - accuracy: 0.8208 - val_loss: 0.5275 - val_accuracy: 0.7886
Epoch 42/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4060 - accuracy: 0.8208 - val_loss: 0.5266 - val_accuracy: 0.7886
Epoch 43/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4049 - accuracy: 0.8208 - val_loss: 0.5262 - val_accuracy: 0.7886
Epoch 44/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4056 - accuracy: 0.8187 - val_loss: 0.5269 - val_accuracy: 0.7886
Epoch 45/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4027 - accuracy: 0.8208 - val_loss: 0.5285 - val_accuracy: 0.7886
Epoch 46/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4018 - accuracy: 0.8228 - val_loss: 0.5286 - val_accuracy: 0.7886
Epoch 47/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4008 - accuracy: 0.8187 - val_loss: 0.5311 - val_accuracy: 0.7886
Epoch 48/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3996 - accuracy: 0.8248 - val_loss: 0.5311 - val_accuracy: 0.7886
Epoch 49/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3990 - accuracy: 0.8248 - val_loss: 0.5308 - val_accuracy: 0.7886
Epoch 50/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3981 - accuracy: 0.8248 - val_loss: 0.5321 - val_accuracy: 0.7886
Epoch 51/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3960 - accuracy: 0.8248 - val_loss: 0.5320 - val_accuracy: 0.7886
Epoch 52/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3950 - accuracy: 0.8310 - val_loss: 0.5319 - val_accuracy: 0.7886
Epoch 53/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3942 - accuracy: 0.8228 - val_loss: 0.5333 - val_accuracy: 0.7886
Epoch 54/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3942 - accuracy: 0.8269 - val_loss: 0.5345 - val_accuracy: 0.7967
Epoch 55/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3926 - accuracy: 0.8248 - val_loss: 0.5347 - val_accuracy: 0.8049
Epoch 56/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3912 - accuracy: 0.8269 - val_loss: 0.5357 - val_accuracy: 0.7886
Epoch 57/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3908 - accuracy: 0.8310 - val_loss: 0.5363 - val_accuracy: 0.7967
Epoch 58/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3884 - accuracy: 0.8269 - val_loss: 0.5376 - val_accuracy: 0.7886
Epoch 59/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3879 - accuracy: 0.8269 - val_loss: 0.5401 - val_accuracy: 0.7886
Epoch 60/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3896 - accuracy: 0.8330 - val_loss: 0.5391 - val_accuracy: 0.7886
Epoch 61/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3847 - accuracy: 0.8310 - val_loss: 0.5400 - val_accuracy: 0.7967
Epoch 62/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3861 - accuracy: 0.8269 - val_loss: 0.5420 - val_accuracy: 0.7886
Epoch 63/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3830 - accuracy: 0.8269 - val_loss: 0.5444 - val_accuracy: 0.7886
Epoch 64/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3826 - accuracy: 0.8269 - val_loss: 0.5443 - val_accuracy: 0.7886
Epoch 65/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3812 - accuracy: 0.8350 - val_loss: 0.5422 - val_accuracy: 0.7967
Epoch 66/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3799 - accuracy: 0.8269 - val_loss: 0.5440 - val_accuracy: 0.7967
Epoch 67/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3786 - accuracy: 0.8289 - val_loss: 0.5449 - val_accuracy: 0.7967
Epoch 68/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3801 - accuracy: 0.8289 - val_loss: 0.5472 - val_accuracy: 0.7967
Epoch 69/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3766 - accuracy: 0.8289 - val_loss: 0.5484 - val_accuracy: 0.7967
Epoch 70/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3758 - accuracy: 0.8269 - val_loss: 0.5499 - val_accuracy: 0.7967
Epoch 71/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3757 - accuracy: 0.8289 - val_loss: 0.5501 - val_accuracy: 0.7967
Epoch 72/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3734 - accuracy: 0.8289 - val_loss: 0.5502 - val_accuracy: 0.7967
Epoch 73/100
5/5 [==============================] - 0s 8ms/step - loss: 0.3728 - accuracy: 0.8330 - val_loss: 0.5506 - val_accuracy: 0.8049
Epoch 74/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3719 - accuracy: 0.8289 - val_loss: 0.5503 - val_accuracy: 0.8049
Epoch 75/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3708 - accuracy: 0.8310 - val_loss: 0.5538 - val_accuracy: 0.8049
Epoch 76/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3689 - accuracy: 0.8289 - val_loss: 0.5538 - val_accuracy: 0.8049
Epoch 77/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3677 - accuracy: 0.8310 - val_loss: 0.5542 - val_accuracy: 0.8049
Epoch 78/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3680 - accuracy: 0.8350 - val_loss: 0.5558 - val_accuracy: 0.8049
Epoch 79/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3647 - accuracy: 0.8310 - val_loss: 0.5577 - val_accuracy: 0.8049
Epoch 80/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3641 - accuracy: 0.8330 - val_loss: 0.5603 - val_accuracy: 0.7967
Epoch 81/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3660 - accuracy: 0.8310 - val_loss: 0.5595 - val_accuracy: 0.8049
Epoch 82/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3615 - accuracy: 0.8371 - val_loss: 0.5619 - val_accuracy: 0.8049
Epoch 83/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3613 - accuracy: 0.8330 - val_loss: 0.5633 - val_accuracy: 0.8049
Epoch 84/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3595 - accuracy: 0.8310 - val_loss: 0.5655 - val_accuracy: 0.7967
Epoch 85/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3575 - accuracy: 0.8432 - val_loss: 0.5648 - val_accuracy: 0.8049
Epoch 86/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3577 - accuracy: 0.8310 - val_loss: 0.5662 - val_accuracy: 0.8049
Epoch 87/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3563 - accuracy: 0.8371 - val_loss: 0.5667 - val_accuracy: 0.8049
Epoch 88/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3568 - accuracy: 0.8350 - val_loss: 0.5700 - val_accuracy: 0.8049
Epoch 89/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3551 - accuracy: 0.8411 - val_loss: 0.5719 - val_accuracy: 0.8049
Epoch 90/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3523 - accuracy: 0.8452 - val_loss: 0.5706 - val_accuracy: 0.8049
Epoch 91/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3526 - accuracy: 0.8432 - val_loss: 0.5707 - val_accuracy: 0.8049
Epoch 92/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3511 - accuracy: 0.8391 - val_loss: 0.5741 - val_accuracy: 0.8049
Epoch 93/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3501 - accuracy: 0.8411 - val_loss: 0.5734 - val_accuracy: 0.8049
Epoch 94/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3486 - accuracy: 0.8452 - val_loss: 0.5761 - val_accuracy: 0.8049
Epoch 95/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3466 - accuracy: 0.8391 - val_loss: 0.5775 - val_accuracy: 0.8049
Epoch 96/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3461 - accuracy: 0.8513 - val_loss: 0.5800 - val_accuracy: 0.8049
Epoch 97/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3451 - accuracy: 0.8452 - val_loss: 0.5825 - val_accuracy: 0.8049
Epoch 98/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3453 - accuracy: 0.8411 - val_loss: 0.5836 - val_accuracy: 0.8049
Epoch 99/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3442 - accuracy: 0.8452 - val_loss: 0.5834 - val_accuracy: 0.8049
Epoch 100/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3411 - accuracy: 0.8493 - val_loss: 0.5865 - val_accuracy: 0.8049

# Testing Set

In [23]:
B = pd.read_csv("/Users/user/Desktop/python/datasets/testing_set.csv")

In [24]:
xtest = B.drop(["Loan_ID"],axis = 1)

In [25]:
replacer(xtest)

In [26]:
xtest = preprocessing(xtest)

In [27]:
xtest.shape

(367, 20)

In [28]:
B.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

# Converting the Continous Y to Categorical Y

In [29]:
# nn.predict_classes(xtest)

In [30]:
le.inverse_transform(nn.predict_classes(xtest))

WARNING:tensorflow:From C:\Users\user\AppData\Local\Temp/ipykernel_5068/327563927.py:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [31]:
replacer(B)

In [32]:
B['Predicted_loan_Status'] = le.inverse_transform(nn.predict_classes(xtest))
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.00,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.00,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.00,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.83,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.00,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.00,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.00,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.83,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.00,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.00,Rural,Y

# Problem Statment 2:
##### Predict Loan Amount for Rejected ones

# Data preparation

In [33]:
replacer(A)

In [34]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# For this problem statement we are taking Train_set and Test Set data which is predicted and actually Yes

In [35]:
A1 = A[A.Loan_Status == "Y" ]

In [36]:
A2 = B[B.Predicted_loan_Status == "Y" ]

In [37]:
A1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [38]:
A2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Predicted_loan_Status'],
      dtype='object')

## WE are evaluating the column names are same and also change into the real names. So here we have Predicted_loan_Status column will change it into Loan_Status

In [39]:
A2.columns= A1.columns

# if i want merge to dataset so we will use concat

In [40]:
C = pd.concat([A1,A2])

# We are doing reindexing because if we didnot do the reindexing then of the imbalanced indexing it will give u error

In [41]:
C.index

Int64Index([  0,   2,   3,   4,   5,   6,   8,  10,  11,  12,
            ...
            357, 358, 359, 360, 361, 362, 363, 364, 365, 366],
           dtype='int64', length=709)

In [42]:
C.shape

(709, 13)

In [43]:
C.index= range(0,709,1)

In [44]:
C.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.41,360.0,1.0,Urban,Y
1,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.00,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.00,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.00,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417.0,4196.0,267.00,360.0,1.0,Urban,Y

# Preprocessing

In [45]:
X = C.drop(labels= ['Loan_Amount_Term', 'Loan_ID'], axis = 1)
replacer(X)
Y = C[['Loan_Amount_Term']]
replacer(Y)

In [46]:
X1 = preprocessing(X)

In [47]:
X1.shape

(709, 20)

In [48]:
Y.isna().sum()

Loan_Amount_Term    0
dtype: int64

# Create NN

In [49]:
from keras.layers import Dense
from keras.models import Sequential

In [50]:
X1.shape
print("columns--->",X1.shape[1])

columns---> 20

In [51]:
nn1 = Sequential()

#------ INPUT LAYER ---------#
nn1.add(Dense(32, activation = 'relu', input_dim = X1.shape[1]))

#------ HIDDEN LAYERS -------#
nn1.add(Dense(32, activation='relu'))

#------ OUTPUT LAYER ---------#
## Here we will not use the activation sigmoid 
## bcz here is the condiiton is for REGRESSION 
## By DEFAULT it will use the relu

nn1.add(Dense(1))

#------ COMPILE ---------#
nn1.compile(loss='mean_squared_error')


#------ FIT --------#
nn1.fit(X1, Y, validation_split=0.2, epochs = 30)

Epoch 1/30
18/18 [==============================] - 0s 14ms/step - loss: 119067.8125 - val_loss: 118214.6641
Epoch 2/30
18/18 [==============================] - 0s 8ms/step - loss: 117967.8359 - val_loss: 116948.3047
Epoch 3/30
18/18 [==============================] - 0s 4ms/step - loss: 116448.6250 - val_loss: 115119.8203
Epoch 4/30
18/18 [==============================] - 0s 4ms/step - loss: 114281.3359 - val_loss: 112531.6406
Epoch 5/30
18/18 [==============================] - 0s 4ms/step - loss: 111268.5625 - val_loss: 109032.1094
Epoch 6/30
18/18 [==============================] - 0s 5ms/step - loss: 107342.7422 - val_loss: 104609.0859
Epoch 7/30
18/18 [==============================] - 0s 5ms/step - loss: 102402.9688 - val_loss: 99141.2109
Epoch 8/30
18/18 [==============================] - 0s 5ms/step - loss: 96418.6641 - val_loss: 92650.5312
Epoch 9/30
18/18 [==============================] - 0s 4ms/step - loss: 89480.6016 - val_loss: 85274.5234
Epoch 10/30
18/18 [==============================] - 0s 4ms/step - loss: 81584.9375 - val_loss: 76926.4531
Epoch 11/30
18/18 [==============================] - 0s 4ms/step - loss: 72869.1797 - val_loss: 67911.3203
Epoch 12/30
18/18 [==============================] - 0s 4ms/step - loss: 63465.2891 - val_loss: 58244.3711
Epoch 13/30
18/18 [==============================] - 0s 3ms/step - loss: 53632.3945 - val_loss: 48432.5312
Epoch 14/30
18/18 [==============================] - 0s 4ms/step - loss: 43709.1445 - val_loss: 38569.4922
Epoch 15/30
18/18 [==============================] - 0s 3ms/step - loss: 33983.2734 - val_loss: 29226.5156
Epoch 16/30
18/18 [==============================] - 0s 4ms/step - loss: 24927.3750 - val_loss: 20812.1328
Epoch 17/30
18/18 [==============================] - 0s 3ms/step - loss: 17021.8633 - val_loss: 13798.7354
Epoch 18/30
18/18 [==============================] - 0s 4ms/step - loss: 10747.2070 - val_loss: 8631.0420
Epoch 19/30
18/18 [==============================] - 0s 5ms/step - loss: 6568.6704 - val_loss: 5753.5659
Epoch 20/30
18/18 [==============================] - 0s 7ms/step - loss: 4572.7988 - val_loss: 4799.9917
Epoch 21/30
18/18 [==============================] - 0s 5ms/step - loss: 4073.0869 - val_loss: 4698.6558
Epoch 22/30
18/18 [==============================] - 0s 5ms/step - loss: 4013.2444 - val_loss: 4696.1104
Epoch 23/30
18/18 [==============================] - 0s 6ms/step - loss: 3974.3057 - val_loss: 4698.4663
Epoch 24/30
18/18 [==============================] - 0s 4ms/step - loss: 3944.4775 - val_loss: 4706.4370
Epoch 25/30
18/18 [==============================] - 0s 4ms/step - loss: 3928.2354 - val_loss: 4701.9033
Epoch 26/30
18/18 [==============================] - 0s 3ms/step - loss: 3903.5591 - val_loss: 4705.2773
Epoch 27/30
18/18 [==============================] - 0s 3ms/step - loss: 3888.4917 - val_loss: 4716.7378
Epoch 28/30
18/18 [==============================] - 0s 3ms/step - loss: 3886.9397 - val_loss: 4720.7104
Epoch 29/30
18/18 [==============================] - 0s 3ms/step - loss: 3852.9414 - val_loss: 4727.6030
Epoch 30/30
18/18 [==============================] - 0s 3ms/step - loss: 3853.9241 - val_loss: 4728.8125

In [52]:
nn1 = Sequential()

#------ INPUT LAYER ---------#
nn1.add(Dense(32, activation = 'relu', input_dim = X1.shape[1]))

#------ HIDDEN LAYERS -------#
nn1.add(Dense(32, activation='relu'))

#------ OUTPUT LAYER ---------#
## Here we will not use the activation sigmoid 
## bcz here is the condiiton is for REGRESSION 
## By DEFAULT it will use the relu

nn1.add(Dense(1))

#------ COMPILE ---------#
nn1.compile(loss='mean_absolute_error')


#------ FIT --------#
nn1.fit(X1, Y, validation_split=0.2, epochs = 30)

Epoch 1/30
 1/18 [>.............................] - ETA: 0s - loss: 349.9415WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0010s). Check your callbacks.
18/18 [==============================] - 0s 13ms/step - loss: 339.1071 - val_loss: 337.1998
Epoch 2/30
18/18 [==============================] - 0s 4ms/step - loss: 337.8699 - val_loss: 335.7308
Epoch 3/30
18/18 [==============================] - 0s 3ms/step - loss: 336.0323 - val_loss: 333.5036
Epoch 4/30
18/18 [==============================] - 0s 3ms/step - loss: 333.2508 - val_loss: 330.1856
Epoch 5/30
18/18 [==============================] - 0s 3ms/step - loss: 329.2614 - val_loss: 325.6208
Epoch 6/30
18/18 [==============================] - 0s 3ms/step - loss: 323.9657 - val_loss: 319.6492
Epoch 7/30
18/18 [==============================] - 0s 3ms/step - loss: 317.1874 - val_loss: 312.1094
Epoch 8/30
18/18 [==============================] - 0s 3ms/step - loss: 308.7467 - val_loss: 302.8516
Epoch 9/30
18/18 [==============================] - 0s 3ms/step - loss: 298.4476 - val_loss: 291.7820
Epoch 10/30
18/18 [==============================] - 0s 3ms/step - loss: 286.1490 - val_loss: 278.7322
Epoch 11/30
18/18 [==============================] - 0s 3ms/step - loss: 271.8402 - val_loss: 263.5820
Epoch 12/30
18/18 [==============================] - 0s 3ms/step - loss: 255.3936 - val_loss: 246.5051
Epoch 13/30
18/18 [==============================] - 0s 3ms/step - loss: 236.8578 - val_loss: 227.3510
Epoch 14/30
18/18 [==============================] - 0s 3ms/step - loss: 216.0458 - val_loss: 206.1278
Epoch 15/30
18/18 [==============================] - 0s 3ms/step - loss: 192.8692 - val_loss: 182.3310
Epoch 16/30
18/18 [==============================] - 0s 3ms/step - loss: 167.8122 - val_loss: 158.1122
Epoch 17/30
18/18 [==============================] - 0s 3ms/step - loss: 143.3779 - val_loss: 132.9990
Epoch 18/30
18/18 [==============================] - 0s 3ms/step - loss: 116.7542 - val_loss: 104.2807
Epoch 19/30
18/18 [==============================] - 0s 4ms/step - loss: 87.9384 - val_loss: 73.8957
Epoch 20/30
18/18 [==============================] - 0s 3ms/step - loss: 57.0645 - val_loss: 43.5022
Epoch 21/30
18/18 [==============================] - 0s 3ms/step - loss: 31.5756 - val_loss: 31.0966
Epoch 22/30
18/18 [==============================] - 0s 3ms/step - loss: 27.8172 - val_loss: 29.5022
Epoch 23/30
18/18 [==============================] - 0s 4ms/step - loss: 26.9014 - val_loss: 28.5656
Epoch 24/30
18/18 [==============================] - 0s 4ms/step - loss: 25.9383 - val_loss: 27.1956
Epoch 25/30
18/18 [==============================] - 0s 4ms/step - loss: 25.2985 - val_loss: 26.3403
Epoch 26/30
18/18 [==============================] - 0s 4ms/step - loss: 24.9907 - val_loss: 26.3719
Epoch 27/30
18/18 [==============================] - 0s 4ms/step - loss: 24.5638 - val_loss: 26.0007
Epoch 28/30
18/18 [==============================] - 0s 3ms/step - loss: 24.4347 - val_loss: 25.9479
Epoch 29/30
18/18 [==============================] - 0s 3ms/step - loss: 24.3576 - val_loss: 25.2366
Epoch 30/30
18/18 [==============================] - 0s 3ms/step - loss: 24.2957 - val_loss: 24.5486

# Prepare Data FOr  Prediction
## So here we will see our Testing Data

In [80]:
B1 = B[(B.Predicted_loan_Status == 'N')]
replacer(B1)

#### The person who is not eligible for which amount to apply.
#### SO we will predict how much amount of loan is possible to provide by bank.

In [81]:
print("========Nan Values==========",'\n','\n',B1.isna().sum())
print("========Null Values==========",'\n','\n',B1.isnull().sum())

========Nan Values==========

 Loan_ID                  0
Gender                   0
Married                  0
Dependents               0
Education                0
Self_Employed            0
ApplicantIncome          0
CoapplicantIncome        0
LoanAmount               0
Loan_Amount_Term         0
Credit_History           0
Property_Area            0
Predicted_loan_Status    0
dtype: int64
========Null Values==========

 Loan_ID                  0
Gender                   0
Married                  0
Dependents               0
Education                0
Self_Employed            0
ApplicantIncome          0
CoapplicantIncome        0
LoanAmount               0
Loan_Amount_Term         0
Credit_History           0
Property_Area            0
Predicted_loan_Status    0
dtype: int64

In [82]:
Xnew = B1.drop(['Loan_ID', "Loan_Amount_Term"], axis = 1)

In [83]:
Xnew.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Predicted_loan_Status'],
      dtype='object')

In [84]:
X.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [85]:
Xnew.columns = X.columns

In [86]:
Xnew.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

# We are doing reindexing because if we didnot do the reindexing then of the imbalanced indexing it will give u error

In [87]:
Xnew.index

Int64Index([  7,  13,  18,  24,  25,  35,  55,  58,  63,  66,  67,  69,  79,
             80,  81,  82,  83,  84,  89,  94,  96, 101, 106, 117, 118, 119,
            123, 124, 126, 140, 142, 143, 147, 153, 161, 165, 166, 168, 173,
            174, 183, 192, 193, 196, 198, 200, 211, 217, 222, 224, 229, 235,
            239, 240, 241, 243, 245, 250, 255, 256, 259, 263, 266, 268, 271,
            273, 274, 278, 283, 284, 293, 301, 311, 316, 317, 318, 332, 339,
            346, 354],
           dtype='int64')

In [88]:
Xnew.shape

(80, 11)

In [89]:
Xnew.index = range(0,80,1)

In [90]:
Xpred = preprocessing(Xnew)

In [91]:
Xpred.columns = X1.columns

## Predictions For LoanAmount

In [92]:
pred = nn1.predict(Xpred)

In [93]:
pred

array([[356.75192],
       [354.79507],
       [363.5546 ],
       [365.5253 ],
       [356.0296 ],
       [357.86316],
       [356.88556],
       [357.08362],
       [357.1919 ],
       [356.28516],
       [357.01953],
       [357.06323],
       [364.58743],
       [356.11725],
       [354.58655],
       [356.70822],
       [365.8542 ],
       [356.73257],
       [366.26468],
       [355.4429 ],
       [365.17636],
       [357.8032 ],
       [356.56024],
       [355.72748],
       [356.3395 ],
       [358.24265],
       [356.66916],
       [357.05243],
       [354.79214],
       [357.18362],
       [354.55432],
       [363.96432],
       [356.77448],
       [355.1983 ],
       [356.40924],
       [357.58948],
       [356.00534],
       [355.76843],
       [356.48746],
       [356.2682 ],
       [364.58432],
       [356.50964],
       [355.76895],
       [355.89014],
       [356.13016],
       [363.75177],
       [357.15253],
       [364.6923 ],
       [364.02502],
       [357.8767 ],
       [354.95624],
       [357.02206],
       [364.34888],
       [364.29285],
       [356.05334],
       [356.95416],
       [356.54782],
       [356.13464],
       [357.3014 ],
       [365.2154 ],
       [362.16876],
       [361.89734],
       [355.3005 ],
       [354.7886 ],
       [366.30615],
       [356.03378],
       [356.7406 ],
       [356.34583],
       [363.39948],
       [365.03326],
       [356.11884],
       [355.27658],
       [356.12015],
       [365.18423],
       [354.91748],
       [365.17828],
       [363.9972 ],
       [357.1758 ],
       [356.75668],
       [355.7475 ]], dtype=float32)